# Project-specific
Prompt_AI.md

# Audio downloads (root + audio_to_text)
src/audio_downloads/
src/audio_to_text/audio_downloads/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

src/test_prompt.ipynb
src/cur_prompt.md
src/main_case2.ipynb
src/main_case2.py
src/main_case1.py
src/main_case1.ipynb


