# =====================
# Project-specific
# =====================
Prompt_AI.md
/src/cur_prompt.md

# =====================
# Audio downloads
# =====================
/src/audio_downloads/
/src/audio_to_text/audio_downloads/

# =====================
# Python cache
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Environment variables
# =====================
.env
.env.*
# =====================
# Jupyter / notebooks
# =====================
.ipynb_checkpoints/
src/*.ipynb

# =====================
# Local run files
# =====================
src/main_case1.py
src/main_case2.py
audio_downloads
test_prompt.ipynb